/******************************************************************************
 * Portfolio
 * author:      Sophia Goreczky
 *****************************************************************************/

 /**********************
 * Formatting
 **********************/
body{
	background-color: #FFFFFF;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
}

p, ul{
	font-size: 1.2em;
	line-height: 1.5em;
}

header{
	font-family: Courier, Helvetica, sans-serif;
	text-align: center;
	margin: 15px;
}

nav{
	text-align: center;
}

.center{
	width: 65%;
	max-width: 800px;
  	margin: auto;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-wrap: wrap;
  	flex-wrap: wrap;
  	-webkit-align-content: center;
  	align-content: center;
}

.blur{
  	padding: 10px;
  	background: rgba(255, 255, 255, 0.5);
}

.contact{
  	font-size: 2em;
}

/**********************
 * Images
 **********************/
/*.image{
  	display: block;
  	max-width: 100%;
  	height: auto;
  	margin:auto;
}

 .robot{
	display: block;
	bottom: 0px;
	width: 10%;
	z-index: -1;
  	margin: auto;
}*/
