/******************************************************************************
 * Portfolio
 * author:      Sophia Goreczky
 *****************************************************************************/

 /**********************
 * Formatting
 **********************/
body{
	background-color: #FFFFFF;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
}

p, ul{
	font-size: 17px;
	line-height: 25px;
}

p#name{
	font-family: Courier, Helvetica, sans-serif;
	font-size: 36px;
	text-align: center;
	margin-bottom: 15px;
}

#navigation{
	text-align: center;
}

.center{
	width: 65%;
	max-width: 800px;
  	margin: auto;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-wrap: wrap;
  	flex-wrap: wrap;
  	-webkit-align-content: center;
  	align-content: center;
}

.blur{
  	padding: 10px;
  	background: rgba(255, 255, 255, 0.5);
}

.contact{
  	font-size: 2em;
}

/**********************
 * Images
 **********************/
.image{
  	display: block;
  	max-width: 100%;
  	height: auto;
  	margin:auto;
}

 .robot{
	display: block;
	bottom: 0px;
	width: 10%;
	z-index: -1;
  	margin: auto;
}

/**********************
 * Responsive
 **********************/
/* @media (max-width : 550px) {
	.robot{
		display: block;
		position: absolute;
		top: 40px;
		width: 40%;
	}

	a.contact{
		position: relative;
		display: inline;
		padding-right: 6px;
	}

	.container{
		margin-top:0px;
	}

	#navigation{
		position: relative;
	}

	#main{
		display: block;
		float:none;
		width: 100%;
		margin-top:0%;
		border: none;
		min-width:0px;
		padding:0px;
	}

	#bio{
		margin-top:0px;
		text-align: left;
		display: block;
		float:none;
		width:100%;
		padding-bottom:5%;
		padding-left:5%;
		position: relative;
	}
}

@media only screen and (max-device-width: 480px) {
	.robot{
		display: block;
		position: relative;
		width: 40%;
    		margin-left: auto;
   		 margin-right: auto;
	}

	a.contact{
		position: relative;
		display: inline;
		padding-right: 6px;
	}

  	a.nav{
    		font-size: 60px;
  	}

  	.container{
    		margin-top:0px;
  	}

  	.sprite{
    		display: none;
  	}

	#navigation{
		position: relative;
    		height:100px;
	}

	#main{
		display: block;
		float:none;
		width: 100%;
		margin-top:0%;
		border: none;
		min-width:0px;
		padding:0px;
	}

	#bio{
		margin-top:0px;
		text-align: center;
		display: block;
		float:none;
		width:100%;
		padding-bottom:5%;
		position: relative;
	}

  	p#name{
    		font-size: 60px;
  	}

  	a.contact{
   		font-size: 50px;
 	}
} */
